.heading{
    background-color: #ffffff;
    padding: 6px;
    width: 800px;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 0px 0px 5px 2px rgb(203, 203, 203);
    margin-top: 30px;
    margin-bottom: 30px;
}
.outdoor-icon{
    height: 35px;
    width: 40px;
}
.colour{
    color: #65AA98;
}
.outdoor-plants{
    background-color: #ffd3cc; 
    width: 1150px;
    margin: 0px auto;
    padding: 15px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}
.plant-card{
    width: 220px;
    background-color: #fff7f6;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
}
.plant-img{
    height: 200px;
    width: 190px;
    display: block;
    margin: 15px auto;
    border-radius: 20px;
}


